<section class="hero-section" aria-describedby="hero-section">
  <div class="hero-section__content">
    <div class="hero-section__content__header">
      <h1 class="hero-section__content__header__title">
        Premium abstract images
      </h1>
      <ul class="hero-section__content__features">
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12Z" fill="#EEF2FF"/>
            <path d="M19.9004 7.39258L10 17.292L4.34375 11.6348L5.05078 10.9277L10.001 15.8779L19.1934 6.68555L19.9004 7.39258Z" fill="#6366F1" stroke="#6366F1"/>
          </svg>
          <span>Minimum 5K image resolution</span>
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12Z" fill="#EEF2FF"/>
            <path d="M19.9004 7.39258L10 17.292L4.34375 11.6348L5.05078 10.9277L10.001 15.8779L19.1934 6.68555L19.9004 7.39258Z" fill="#6366F1" stroke="#6366F1"/>
          </svg>
          <span>Various format variants available</span>
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12Z" fill="#EEF2FF"/>
            <path d="M19.9004 7.39258L10 17.292L4.34375 11.6348L5.05078 10.9277L10.001 15.8779L19.1934 6.68555L19.9004 7.39258Z" fill="#6366F1" stroke="#6366F1"/>
          </svg>
          <span>Retina display support</span>
        </li>
      </ul>
    </div>
    <div class="hero-section__content__actions">
      <div class="hero-section__content__actions__btn">
        <button class="button button--secondary button--size-xl-2xl">Learn more</button>
      </div>
      <div class="hero-section__content__actions__btn">
        <button class="button button--primary button--size-xl-2xl">See pricing</button>
      </div>
    </div>
  </div>
  <picture class="hero-section__banner" alt="Banner image for hero section">
    <source media="(min-width: 1024px)" srcset="assets/hero-feature-desktop.png">
    <source media="(min-width: 768px)" srcset="assets/hero-feature-tablet.png">
    <img src="assets/hero-feature-mobile.png" alt="Banner image">
  </picture>
</section>
